In [1]:
#Read the dataset
import pandas as pd
df = pd.read_csv('cars_clean.csv')
df.head()

,aspiration,enginelocation,carwidth,curbweight,enginetype,cylindernumber,stroke,peakrpm,price
0,std,front,64.10000,2548,dohc,four,2.68,5000,13495.0
1,std,front,64.10000,2548,dohc,four,2.68,5000,16500.0
2,std,front,65.50000,2823,ohcv,six,3.47,5000,16500.0
3,std,front,65.88794,2337,ohc,four,3.40,5500,13950.0
4,std,front,66.40000,2824,ohc,five,3.40,5500,17450.0

In [2]:
#Import the Libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [3]:
x = df.drop(columns=["aspiration","enginelocation","enginetype","cylindernumber","price"])
x

     carwidth  curbweight  stroke  peakrpm
0    64.10000        2548    2.68     5000
1    64.10000        2548    2.68     5000
2    65.50000        2823    3.47     5000
3    65.88794        2337    3.40     5500
4    66.40000        2824    3.40     5500
..        ...         ...     ...      ...
200  68.90000        2952    3.15     5400
201  68.80000        3049    3.15     5300
202  68.90000        3012    2.87     5500
203  68.90000        3217    3.40     4800
204  68.90000        3062    3.15     5400

[205 rows x 4 columns]

In [4]:
y = df["price"]

In [5]:
#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0.7831319076413878

In [6]:
from sklearn.inspection import permutation_importance
perm_score = permutation_importance(model, x_train, y_train, n_repeats=40)

In [7]:
perm_score

{'importances_mean': array([6.35650765e-04, 1.40996687e+00, 1.14676049e-02, 8.56967926e-02]),
 'importances_std': array([0.00154529, 0.12498115, 0.00740008, 0.02179235]),
 'importances': array([[ 3.35656326e-04,  1.13490793e-03, -1.00767259e-03,
         -9.06368837e-04,  4.33688483e-04,  4.14636992e-03,
          1.88724802e-03,  4.93761265e-03,  9.21394145e-04,
          1.49019782e-03,  1.20667134e-03, -3.55909406e-05,
         -1.78595597e-03, -1.79059173e-03,  1.61181691e-03,
          2.90353129e-03, -1.38455854e-04,  6.79011197e-04,
          1.29320165e-03, -2.37673719e-04,  9.26833606e-04,
          6.33250838e-04,  2.79591680e-03,  1.77827177e-03,
         -1.80521282e-03,  1.14873965e-03,  1.02085937e-03,
          1.70800434e-03, -2.81759331e-03, -9.73313495e-04,
         -9.69117947e-04,  1.44747140e-03, -1.86280389e-04,
          9.19208258e-04,  1.34582911e-03, -2.80706823e-05,
          1.45654954e-03, -7.32772631e-04,  9.22700470e-04,
         -2.44241315e-04],
        [ 1.64935413e+00,  1.48938838e+00,  1.47705741e+00,
          1.40028808e+00,  1.54323744e+00,  1.47259115e+00,
          1.39656532e+00,  1.54163887e+00,  1.73091293e+00,
          1.52587031e+00,  1.44178578e+00,  1.26030758e+00,
          1.12098601e+00,  1.43033437e+00,  1.33712854e+00,
          1.59329105e+00,  1.39173439e+00,  1.30501990e+00,
          1.51949890e+00,  1.26072450e+00,  1.43452394e+00,
          1.35719053e+00,  1.29456562e+00,  1.51312961e+00,
          1.39973964e+00,  1.42539177e+00,  1.35735044e+00,
          1.53356449e+00,  1.20734783e+00,  1.29985433e+00,
          1.28830167e+00,  1.49302798e+00,  1.20293283e+00,
          1.38248366e+00,  1.33580192e+00,  1.39865160e+00,
          1.41807569e+00,  1.35267793e+00,  1.27423396e+00,
          1.54211422e+00],
        [ 6.81827835e-03, -3.69621994e-04,  1.12050134e-02,
          1.23050157e-02,  2.41580915e-02, -6.38849688e-03,
          1.61605237e-02,  7.77878880e-03,  2.96894306e-03,
          9.33628038e-03,  9.66657266e-03,  2.21528065e-02,
          2.22440476e-02,  1.88298203e-02,  1.35924087e-02,
          1.11192079e-02,  7.58349785e-03,  9.40127453e-03,
          6.98749753e-04, -6.30911070e-04,  1.20721172e-02,
          2.07815914e-02,  1.18626666e-02,  1.55577301e-02,
          6.39753395e-03,  1.77053356e-03,  2.39492588e-02,
          1.73227404e-02,  1.45989014e-02,  1.77997883e-02,
          1.37586402e-02,  8.50132261e-03,  9.88812623e-03,
          2.05503327e-02,  1.37689891e-02,  3.91098837e-03,
          6.13015056e-03,  2.88686869e-03,  2.17466334e-02,
          1.68189910e-02],
        [ 1.16013813e-01,  6.17376825e-02,  9.29853479e-02,
          4.97472606e-02,  6.22239300e-02,  1.03864218e-01,
          6.88118878e-02,  7.80460471e-02,  1.00009367e-01,
          8.81582349e-02,  1.02129749e-01,  1.18553556e-01,
          1.00737177e-01,  5.75462081e-02,  9.13486384e-02,
          9.88824598e-02,  7.46711089e-02,  8.02571125e-02,
          1.03007494e-01,  7.64602467e-02,  7.10986015e-02,
          1.18489166e-01,  7.76325428e-02,  3.58239490e-02,
          7.76619566e-02,  7.52423319e-02,  6.68124869e-02,
          1.04866795e-01,  1.16519772e-01,  8.78410919e-02,
          1.10846490e-01,  9.09163992e-02,  3.67879601e-02,
          9.13020229e-02,  1.04255896e-01,  8.91170735e-02,
          9.58266467e-02,  8.08103526e-02,  1.19710078e-01,
          5.11185507e-02]])}

In [8]:
import numpy as np
df_features =pd.DataFrame(np.vstack((x_train.columns, perm_score.importances_mean)).T, columns=['feature','importance'])

In [9]:
np.vstack((x.columns, perm_score.importances_mean))

array([['carwidth', 'curbweight', 'stroke', 'peakrpm'],
       [0.0006356507645199877, 1.4099668672854722, 0.011467604880865994,
        0.08569679256194948]], dtype=object)

In [10]:
np.vstack((x.columns, perm_score.importances_mean)).T

array([['carwidth', 0.0006356507645199877],
       ['curbweight', 1.4099668672854722],
       ['stroke', 0.011467604880865994],
       ['peakrpm', 0.08569679256194948]], dtype=object)

In [11]:
pd.DataFrame(np.vstack((x.columns, perm_score.importances_mean)).T)

            0         1
0    carwidth  0.000636
1  curbweight  1.409967
2      stroke  0.011468
3     peakrpm  0.085697

In [12]:
df_features = pd.DataFrame(np.vstack((x.columns, perm_score.importances_mean)).T, columns = ['features','importance'])
df_features

     features importance
0    carwidth   0.000636
1  curbweight   1.409967
2      stroke   0.011468
3     peakrpm   0.085697

In [13]:
df_features.sort_values('importance', ascending = False)

     features importance
1  curbweight   1.409967
3     peakrpm   0.085697
2      stroke   0.011468
0    carwidth   0.000636

In [14]:
df_features.sort_values('importance', ascending = False).reset_index()

   index    features importance
0      1  curbweight   1.409967
1      3     peakrpm   0.085697
2      2      stroke   0.011468
3      0    carwidth   0.000636

In [15]:
df_features.sort_values('importance', ascending = False).reset_index(drop=True)

     features importance
0  curbweight   1.409967
1     peakrpm   0.085697
2      stroke   0.011468
3    carwidth   0.000636

In [16]:
#Model 1

top_1feature = df_features['features'].iloc[0:1]
top_1feature

0    carwidth
Name: features, dtype: object

In [17]:
df_features['features']

0      carwidth
1    curbweight
2        stroke
3       peakrpm
Name: features, dtype: object

In [18]:
#Model 1 with Top 1 Feature

#Top 1 Feature
top_1feature = df_features['features'].iloc[0:1]

#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x[top_1feature] ,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0.7090531850296394

In [19]:
#Model 2 with Top 2 Feature

#Top 2 Feature
top_2feature = df_features['features'].iloc[0:2]
print(top_2feature)
#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x[top_2feature] ,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0      carwidth
1    curbweight
Name: features, dtype: object

0.8133642680247426

In [20]:
#Model 3 with Top 3 Feature

#Top 3 Feature
top_3feature = df_features['features'].iloc[0:3]
print(top_3feature)
#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x[top_3feature] ,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0      carwidth
1    curbweight
2        stroke
Name: features, dtype: object

0.8122489880881474

In [21]:
import pandas as pd
from sklearn.datasets import fetch_california_housing
cal = fetch_california_housing()
df = pd.DataFrame(cal.data, columns=cal.feature_names)
df['target'] = cal.target
df.to_csv('california.csv')

In [22]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [24]:
x = df.drop(columns=["Latitude","Longitude","AveOccup","Population","target"])
x

       MedInc  HouseAge  AveRooms  AveBedrms
0      8.3252      41.0  6.984127   1.023810
1      8.3014      21.0  6.238137   0.971880
2      7.2574      52.0  8.288136   1.073446
3      5.6431      52.0  5.817352   1.073059
4      3.8462      52.0  6.281853   1.081081
...       ...       ...       ...        ...
20635  1.5603      25.0  5.045455   1.133333
20636  2.5568      18.0  6.114035   1.315789
20637  1.7000      17.0  5.205543   1.120092
20638  1.8672      18.0  5.329513   1.171920
20639  2.3886      16.0  5.254717   1.162264

[20640 rows x 4 columns]

In [25]:
y = df['target']

In [26]:
#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0.5237015927315556

In [27]:
from sklearn.inspection import permutation_importance
perm_score = permutation_importance(model, x_train, y_train, n_repeats=40)

In [28]:
perm_score

{'importances_mean': array([1.62205991, 0.06324044, 0.46004713, 0.38135082]),
 'importances_std': array([0.01605638, 0.00201072, 0.00567249, 0.0056346 ]),
 'importances': array([[1.60606419, 1.60422092, 1.61605503, 1.62600268, 1.59952664,
         1.61935584, 1.62549945, 1.62956232, 1.60581232, 1.59369699,
         1.64928227, 1.60361979, 1.62340639, 1.59922044, 1.63476408,
         1.63171893, 1.63396448, 1.65273183, 1.6126225 , 1.60363626,
         1.6432171 , 1.62932386, 1.62881403, 1.6291242 , 1.60364554,
         1.61119319, 1.62863672, 1.62065738, 1.6176921 , 1.63716394,
         1.63832551, 1.60867916, 1.65285643, 1.64299109, 1.61157127,
         1.60608869, 1.61848996, 1.62620479, 1.60598841, 1.6509697 ],
        [0.06554728, 0.06146723, 0.0626083 , 0.0671864 , 0.06136291,
         0.06378335, 0.06359823, 0.05990392, 0.06046175, 0.06231446,
         0.06315482, 0.06181673, 0.06213376, 0.06720436, 0.06243641,
         0.06111467, 0.06326875, 0.06499729, 0.06016171, 0.06813457,
         0.0626611 , 0.06567485, 0.06431   , 0.06320903, 0.06291078,
         0.0640529 , 0.06321757, 0.06000761, 0.05935517, 0.06159192,
         0.06357145, 0.06447138, 0.06446922, 0.06167792, 0.06593346,
         0.06357532, 0.06351435, 0.06439152, 0.06463733, 0.06372798],
        [0.458314  , 0.46874627, 0.45966147, 0.45554213, 0.45605623,
         0.4674574 , 0.4690401 , 0.44699135, 0.45941499, 0.46215498,
         0.45735296, 0.45837861, 0.45253927, 0.46361381, 0.45644035,
         0.4566935 , 0.4560615 , 0.46043485, 0.46402203, 0.45834106,
         0.45651065, 0.46008752, 0.46110027, 0.45714655, 0.4732682 ,
         0.46382101, 0.45621354, 0.45569769, 0.45730988, 0.4595555 ,
         0.45445038, 0.46969993, 0.44963938, 0.46521835, 0.46913287,
         0.46136194, 0.46113942, 0.46439779, 0.45216912, 0.46670853],
        [0.38016267, 0.37396268, 0.38083135, 0.38444238, 0.39135227,
         0.38152233, 0.37773793, 0.37559436, 0.38922243, 0.38807269,
         0.38228112, 0.38502937, 0.38208023, 0.37521344, 0.37597674,
         0.3732308 , 0.39204569, 0.38125792, 0.38769382, 0.38429283,
         0.38378099, 0.38754433, 0.38507797, 0.3857939 , 0.3739027 ,
         0.38225444, 0.3786154 , 0.38457656, 0.38590952, 0.37786105,
         0.38065323, 0.36928948, 0.37992416, 0.37878726, 0.37377088,
         0.37873579, 0.38888553, 0.38549404, 0.38250527, 0.36866741]])}

In [29]:
import numpy as np
df_features =pd.DataFrame(np.vstack((x_train.columns, perm_score.importances_mean)).T, columns=['feature','importance'])

In [30]:
df_features

     feature importance
0     MedInc    1.62206
1   HouseAge    0.06324
2   AveRooms   0.460047
3  AveBedrms   0.381351

In [31]:
df_features.sort_values('importance', ascending = False)

     feature importance
0     MedInc    1.62206
2   AveRooms   0.460047
3  AveBedrms   0.381351
1   HouseAge    0.06324

In [32]:
df_features.sort_values('importance', ascending = False).reset_index()

   index    feature importance
0      0     MedInc    1.62206
1      2   AveRooms   0.460047
2      3  AveBedrms   0.381351
3      1   HouseAge    0.06324

In [33]:
df_features.sort_values('importance', ascending = False).reset_index(drop=True)

     feature importance
0     MedInc    1.62206
1   AveRooms   0.460047
2  AveBedrms   0.381351
3   HouseAge    0.06324

In [34]:
#Model 1

top_1feature = df_features['feature'].iloc[0:1]
top_1feature

0    MedInc
Name: feature, dtype: object

In [35]:
#Model 1 with Top 1 Feature

#Top 1 Feature
top_1feature = df_features['feature'].iloc[0:1]

#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x[top_1feature] ,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0.4816640675164783

In [36]:
#Model 2 with Top 2 Feature

#Top 2 Feature
top_2feature = df_features['feature'].iloc[0:2]
print(top_2feature)
#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x[top_2feature] ,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0      MedInc
1    HouseAge
Name: feature, dtype: object

0.512996828523566

In [37]:
#Model 3 with Top 3 Feature

#Top 3 Feature
top_3feature = df_features['feature'].iloc[0:3]
print(top_3feature)
#Split the Dataset into training and testing set
x_train, x_test, y_train, y_test = train_test_split(x[top_3feature] ,y,test_size=0.3,random_state=3)

#Instanciate the model
model = LinearRegression()

#Fit the model
model.fit(x_train, y_train)

#read the model score
model.score(x_test, y_test)

0      MedInc
1    HouseAge
2    AveRooms
Name: feature, dtype: object

0.5169516673149406