In [2]:
import pandas as pd
df = pd.read_csv('data_titanic.csv')
df

     Pclass  Gender   Age   Fare  Embarked  Survived
0         1       0  38.0  71.28         1         1
1         1       0  35.0  53.10         0         1
2         1       1  54.0  51.86         0         0
3         3       0   4.0  16.70         0         1
4         1       0  58.0  26.55         0         1
..      ...     ...   ...    ...       ...       ...
263       1       0  47.0  52.55         0         1
264       1       1  33.0   5.00         0         0
265       1       0  56.0  83.16         1         1
266       1       0  19.0  30.00         0         1
267       1       1  26.0  30.00         1         1

[268 rows x 6 columns]

In [7]:
y = df['Survived']
x = df[['Gender', 'Age', 'Fare']]
x

     Gender   Age   Fare
0         0  38.0  71.28
1         0  35.0  53.10
2         1  54.0  51.86
3         0   4.0  16.70
4         0  58.0  26.55
..      ...   ...    ...
263       0  47.0  52.55
264       1  33.0   5.00
265       0  56.0  83.16
266       0  19.0  30.00
267       1  26.0  30.00

[268 rows x 3 columns]

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [6]:
model = LogisticRegression()

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [14]:
model.fit(x_train, y_train)

LogisticRegression()

In [15]:
model.score(x_test, y_test)

0.7530864197530864

In [17]:
model.predict([[1, 23, 70]])

array([0], dtype=int64)