In [3]:
import pandas as pd
df = pd.read_csv('cars_clean.csv')

In [4]:
df

,aspiration,enginelocation,carwidth,curbweight,enginetype,cylindernumber,stroke,peakrpm,price
0,std,front,64.10000,2548,dohc,four,2.68,5000,13495.0
1,std,front,64.10000,2548,dohc,four,2.68,5000,16500.0
2,std,front,65.50000,2823,ohcv,six,3.47,5000,16500.0
3,std,front,65.88794,2337,ohc,four,3.40,5500,13950.0
4,std,front,66.40000,2824,ohc,five,3.40,5500,17450.0
...,...,...,...,...,...,...,...,...,...
200,std,front,68.90000,2952,ohc,four,3.15,5400,16845.0
201,turbo,front,68.80000,3049,ohc,four,3.15,5300,19045.0
202,std,front,68.90000,3012,ohcv,six,2.87,5500,21485.0
203,turbo,front,68.90000,3217,ohc,six,3.40,4800,22470.0
204,turbo,front,68.90000,3062,ohc,four,3.15,5400,22625.0

In [5]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [6]:
x = df[['carwidth', 'curbweight', 'stroke', 'peakrpm']]
y = df['price']

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.3)

In [8]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [9]:
model.score(x_test, y_test)

0.7376334760874722